


@mixin col($columnSpan: auto,$space:none) {
    float: left;
    padding: 5px;
    @include prefixer(box-sizing,border-box);

    @if ($columnSpan == auto) {
        width: $columnSpan;
    }
    @else if (number == type_of($columnSpan)) and ($space == none) {
        width: $columnSpan * 100%;

    }@else if($space != none) and (number == type_of($columnSpan)) {
        $current_width: $columnSpan * 100%;
        $cur_space: $space + px;
        width: math($current_width - #{$space + px});
        margin: 0 (($space/2)+px);

    }
    @else {
        @warn('#{$columnSpan} is not valid for column span.');
    }
}